<a href="https://colab.research.google.com/github/fschneider2/Data_Science_2/blob/main/DSII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

In [5]:
livros = pd.read_csv('/content/drive/MyDrive/livros.csv')
livros_classicos = pd.read_csv('/content/drive/MyDrive/livros_classicos.csv')
livros_genero = pd.read_csv('/content/drive/MyDrive/livros_genero.csv')

1- Faça a concatenação das bases de dados e encontre qual o gênero de livro correspondente a cada livro.

In [6]:
livros_concatenado = pd.concat([livros,livros_genero], axis = 1)
livros_concatenado[['nome','genero']]

        nome    genero
0    livro 1     Drama
1    livro 2  Aventura
2    livro 3     Drama
3    livro 4   Romance
4    livro 5   Romance
5    livro 6  Aventura
6    livro 7     Drama
7    livro 8  Aventura
8    livro 9   Romance
9   livro 10  Aventura
10       NaN   Romance

2 - Faça a concatenação das bases de dados de livros e livros_genero e encontre qual os gêneros e os autores que não possuem um livro correspondente.

In [7]:
livros_concatenado_autor = pd.concat([livros,livros_genero], axis = 1)
registros = livros_concatenado_autor[livros_concatenado_autor['nome'].isnull()]
registros

   nome  paginas   genero  autor
10  NaN      NaN  Romance  Pedro

3 - Faça a junção das bases de livros e livros clássicos.

In [8]:
livros_concatenado = pd.concat([livros,livros_classicos], axis = 1)
livros_concatenado

       nome  paginas      nome    autor
0   livro 1      257   livro 1    Jorge
1   livro 2      106   livro 2   Santos
2   livro 3      150   livro 3  Leandro
3   livro 4      175   livro 4    Clara
4   livro 5      321   livro 5   Flavia
5   livro 6      159   livro 6  Leandro
6   livro 7      980   livro 7   Santos
7   livro 8      235   livro 8   Marcia
8   livro 9      745   livro 9   Marcia
9  livro 10      126  livro 10    Clara

4 - Faça a junção das bases de livros e livros clássicos apenas com os elementos em comum entre ambos e remova os índices dos antigos dataframes.

In [9]:
livros_concatenado = pd.concat([livros,livros_classicos], axis = 0, join='inner', ignore_index=True)
livros_concatenado

        nome
0    livro 1
1    livro 2
2    livro 3
3    livro 4
4    livro 5
5    livro 6
6    livro 7
7    livro 8
8    livro 9
9   livro 10
10   livro 1
11   livro 2
12   livro 3
13   livro 4
14   livro 5
15   livro 6
16   livro 7
17   livro 8
18   livro 9
19  livro 10

### 5) Faça a junção das bases de livros e livros clássicos apenas com os elementos comuns entre ambos, e adicione chaves para o dataframe de livros e de livros clássicos.

In [10]:
livros_concatenado = pd.concat([livros,livros_classicos], axis = 0, keys=['livros',
'livros_classicos'], join='inner')
livros_concatenado

                        nome
livros           0   livro 1
                 1   livro 2
                 2   livro 3
                 3   livro 4
                 4   livro 5
                 5   livro 6
                 6   livro 7
                 7   livro 8
                 8   livro 9
                 9  livro 10
livros_classicos 0   livro 1
                 1   livro 2
                 2   livro 3
                 3   livro 4
                 4   livro 5
                 5   livro 6
                 6   livro 7
                 7   livro 8
                 8   livro 9
                 9  livro 10

### 6) Faça a junção das bases de livros e livros clássicos apenas com os elementos comuns entre ambos, e adicione chaves para o dataframe de livros e de livros clássicos, além de nomes para os índices.

In [11]:
livros_concatenado = pd.concat([livros,livros_classicos], axis = 0, keys=['livros',
'livros_classicos'], join='inner', names=['dataframe','index'])
livros_concatenado

                            nome
dataframe        index
livros           0       livro 1
                 1       livro 2
                 2       livro 3
                 3       livro 4
                 4       livro 5
                 5       livro 6
                 6       livro 7
                 7       livro 8
                 8       livro 9
                 9      livro 10
livros_classicos 0       livro 1
                 1       livro 2
                 2       livro 3
                 3       livro 4
                 4       livro 5
                 5       livro 6
                 6       livro 7
                 7       livro 8
                 8       livro 9
                 9      livro 10

### 7) Faça a junção das bases de dados livros e livros_classicos e verifique a integridade do dataframe resultante

In [12]:
pd.concat([livros,livros_classicos], axis = 1, verify_integrity=True)

ValueError: ignored