In [1]:
import pandas as pd
import numpy as np

In [2]:
df_cargos = pd.read_csv('cargos.csv')
df_setores = pd.read_csv('setores.csv')
df_funcionarios = pd.read_csv('funcionarios.csv')

display(df_cargos, df_setores, df_funcionarios)

   cargo_id    cargo_nome  cargo_nivel  cargo_salario
0         1    Estagiario            1           1200
1         2      Analista            1           3500
2         3      Analista            2           3500
3         4  Especialista            1           7000
4         5  Especialista            2           7000

   setor_id       setor_nome
0         1           Vendas
1         2          Compras
2         3        Marketing
3         4  Desenvolvimento
4         5               RH

     funcionario_nome  funcionario_idade  funcionario_cpf  cargo_id  setor_id
0      Daniel Batista                 36      27176353356         1         2
1       Bianca Garcia                 39      21461638191         3         1
2     Guilherme Silva                 45      54088099503         1         2
3     Leonardo Barros                 23       3388954911         5         1
4       Daniel Barros                 18      36195973218         3         1
..                ...                ...              ...       ...       ...
995      Lauro Barros                 18       9932295853         5         4
996      Pedro Barros                 28      53378477712         1         1
997      Vitor Barros                 44      81042723216         1         3
998       Jose Campos                 28      80892194573         4         5
999  Vanessa Barcelos                 49      38314359859         3         1

[1000 rows x 5 columns]

<!-- 1) Qual setor possui mais funcionários? -->

<!-- 1) Qual setor possui mais funcionários? -->

## 1) Qual setor possui mais funcionários?

In [3]:
join_funcionarios_setores = df_funcionarios.join(df_setores.set_index('setor_id'), on= 'setor_id')

setor_mais_funcionarios = join_funcionarios_setores.groupby('setor_nome').count().reset_index()

setor_mais_funcionarios = setor_mais_funcionarios.sort_values('setor_id', ascending=False).iloc[0]

display(f'O setor que possui mais funcionários é o {setor_mais_funcionarios["setor_nome"]} com {setor_mais_funcionarios["setor_id"]} funcionários')

'O setor que possui mais funcionários é o Compras com 214 funcionários'

<!-- 2) Qual o cargo que possui maior quantidade de funcionários? -->

## 2) Qual o cargo que possui maior quantidade de funcionários?

In [4]:
join_funcionarios_cargos = df_funcionarios.join(df_cargos.set_index('cargo_id'), on= 'cargo_id')

cargo_mais_funcionarios = join_funcionarios_cargos.groupby('cargo_nome').count().reset_index()

cargo_mais_funcionarios = cargo_mais_funcionarios.sort_values('setor_id', ascending=False).iloc[0]

cargo_mais_funcionarios

display(f'O cargo que possui mais funcionários é o {cargo_mais_funcionarios["cargo_nome"]} com {cargo_mais_funcionarios["setor_id"]} funcionários')

'O cargo que possui mais funcionários é o Especialista com 420 funcionários'

<!-- 3) Qual o valor total de folha de pagamento para funcionários do setor de compras? -->

## 3) Qual o valor total de folha de pagamento para funcionários do setor de compras?

In [5]:
valor_folha_compras = join_funcionarios_setores[join_funcionarios_setores['setor_nome'] == 'Compras']

valor_folha_compras = valor_folha_compras.join(df_cargos.set_index('cargo_id'), on='cargo_id', how='right')

valor_folha_compras = valor_folha_compras.sum()['cargo_salario']

display(f'O valor total da folha de pagamento do setor de compras é R$ {valor_folha_compras}')

'O valor total da folha de pagamento do setor de compras é R$ 1017300'

<!-- 4) Qual é o funcionário mais velho do setor de marketing que possui o cargo de analista? -->

## 4) Qual é o funcionário mais velho do setor de marketing que possui o cargo de analista?

In [6]:
funcionario_analista_marketing_mais_velho = join_funcionarios_setores[join_funcionarios_setores['setor_nome'] == 'Marketing']

funcionario_analista_marketing_mais_velho = funcionario_analista_marketing_mais_velho.join(df_cargos.set_index('cargo_id'), on='cargo_id', how='right')

funcionario_analista_marketing_mais_velho = funcionario_analista_marketing_mais_velho[funcionario_analista_marketing_mais_velho['cargo_nome'] == 'Analista']

funcionario_analista_marketing_mais_velho = funcionario_analista_marketing_mais_velho.sort_values(by = 'funcionario_idade', ascending= False).iloc[0]

display(f'O funcionario mais velho do setor de Marketing, que é analista é: {funcionario_analista_marketing_mais_velho["funcionario_nome"]}, possui {funcionario_analista_marketing_mais_velho["funcionario_idade"]}')

'O funcionario mais velho do setor de Marketing, que é analista é: Alice Pereira, possui 60'

## 5) Qual o setor que tem mais funcionários de cargo de nível 1

In [7]:
setor_mais_funcionarios_nivel_1 = join_funcionarios_cargos[join_funcionarios_cargos['cargo_nivel'] == 1]

setor_mais_funcionarios_nivel_1 = setor_mais_funcionarios_nivel_1.join(df_setores.set_index('setor_id'), on='setor_id', how='right')

setor_mais_funcionarios_nivel_1 = setor_mais_funcionarios_nivel_1.groupby('setor_nome').count().reset_index()

setor_mais_funcionarios_nivel_1 = setor_mais_funcionarios_nivel_1.sort_values('setor_id', ascending=False).iloc[0]

display(f'O setor que mais possui funcionários de cargo nível 1 é o {setor_mais_funcionarios_nivel_1["setor_nome"]}, com {setor_mais_funcionarios_nivel_1["setor_id"]} funcionários')

'O setor que mais possui funcionários de cargo nível 1 é o Compras, com 128 funcionários'

## 6) Qual o nome dos funcionários com maior salário no setor de desenvolvimento?

In [8]:
func_desenvol_maior_salario = join_funcionarios_setores[join_funcionarios_setores['setor_nome'] == 'Desenvolvimento']

func_desenvol_maior_salario = func_desenvol_maior_salario.join(df_cargos.set_index('cargo_id'), on='cargo_id', how='right')

maior_salario = func_desenvol_maior_salario.max()['cargo_salario']                                                  

func_desenvol_maior_salario = func_desenvol_maior_salario[func_desenvol_maior_salario['cargo_salario'] == maior_salario]

display('Os funcionários do setor de desenvolvimento, com maior salario são:')
for i in func_desenvol_maior_salario['funcionario_nome']:
    display(i)

'Os funcionários do setor de desenvolvimento, com maior salario são:'

'Sandro Prado'

'Leonardo Andrade'

'Bianca Andrade'

'Alice Gomes'

'Lauro Prado'

'Guilherme Prado'

'Vanessa Barros'

'Vitor Freitas'

'Jose Batista'

'Vanessa Cardoso'

'Alice Andrade'

'Vanessa Garcia'

'Leonardo Pereira'

'Claudio Freitas'

'Leonardo Gomes'

'Lauro Campos'

'Guilherme Prado'

'Leonardo Cardoso'

'Leonardo Andrade'

'Vanessa Santos'

'Lauro Andrade'

'Maria Pereira'

'Bianca Pereira'

'Bianca Barros'

'Katia Santos'

'Leonardo Barros'

'Pedro Andrade'

'Leonardo Cardoso'

'Sandro Andrade'

'Leonardo Freitas'

'Daniel Santos'

'Vitor Gomes'

'Lauro Barcelos'

'PedroAna Santos'

'Lauro Garcia'

'Claudio Andrade'

'Katia Freitas'

'Katia Batista'

'Bianca Gomes'

'Alice Silva'

'Vitor Silva'

'Pedro Garcia'

'Leonardo Prado'

'Alice Barcelos'

'Pedro Santos'

'PedroAna Freitas'

'Guilherme Freitas'

'Vitor Gomes'

'Claudia Pereira'

'Alice Garcia'

'PedroAna Freitas'

'Jose Batista'

'Jose Batista'

'Lauro Barros'

'Katia Barcelos'

'Sandro Barcelos'

'Bianca Silva'

'Vanessa Freitas'

'Daniel Freitas'

'Daniel Pereira'

'Maria Pereira'

'Guilherme Gomes'

'Vitor Barcelos'

'Leonardo Garcia'

'Daniel Prado'

'Bianca Prado'

'Katia Silva'

'Pedro Silva'

'Vanessa Campos'

'Vanessa Prado'

'Daniel Silva'

'Maria Garcia'

'Jose Barros'

'Guilherme Andrade'

'Pedro Campos'

'Maria Cardoso'

'Bianca Prado'

'PedroAna Barros'

'Alice Batista'

'Lauro Barros'

<!-- 5) Qual o setor que tem mais funcionários de cargo de nível 1 -->

## 7) Qual é o funcionário mais novo no setor de compras e qual o mais velho?

In [99]:
func_young_and_old_shopping =  join_funcionarios_setores[join_funcionarios_setores['setor_nome'] == 'Compras']

func_young_and_old_shopping.reset_index(inplace=True, drop=True)

index_func_young_shopping = func_young_and_old_shopping['funcionario_idade'].idxmin()

index_func_old_shopping = func_young_and_old_shopping['funcionario_idade'].idxmax()

func_young_shopping = func_young_and_old_shopping.iloc[index_func_young_shopping]

func_old_shopping = func_young_and_old_shopping.iloc[index_func_old_shopping]

print(f'O funcionário mais novo do setor de compras é {func_young_shopping["funcionario_nome"]} e possui {func_young_shopping["funcionario_idade"]} anos.\n'
 f'O funcionário mais velho do setor de compras é {func_old_shopping["funcionario_nome"]} e possui {func_old_shopping["funcionario_idade"]} anos')

O funcionário mais novo do setor de compras é Lauro Barros e possui 18 anos.
O funcionário mais velho do setor de compras é Vitor Campos e possui 60 anos

<!-- 6) Qual o nome dos funcionários com maior salário no setor de produção? -->